<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Pet Clinic - Spring</title>
</head>
<body>
	<h1 th:text="'Owner'">This is Owner Page</h1>
	<table>
		<thead>
			<tr>
				<td>Id</td>
				<td>First Name</td>
				<td>Last Name</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="owner : ${owners}">
				<td th:text="${owner.id}">Id</td>
				<td th:text="${owner.firstname}">First name</td>
				<td th:text="${owner.lastname}">Last name</td>
			</tr>
		</tbody>
	</table>
</body>
</html>